header.page-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

header.page-header a,
header.page-header a:visited,
header.page-header a:hover,
header.page-header a:active {
  color: white;
  text-decoration: none;
}

header.page-header a:hover {
  color: #DFDFDF;
}

header h2.post-title {
  color: #DFDFDF;
  margin-top: 0.1em;
}

header h2.post-title small {
  font-weight: lighter;
}
