<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% include analytics.html %}

    <meta charset="UTF-8">

    <title>{{ site.title }} | {{ page.title }}</title>

    {% include seo_and_meta.html %}
  </head>
  <body itemscope itemtype="http://schema.org/BlogPosting">
    <header class="page-header" role="banner">
      <h1 class="project-name">
        <a href="/" itemprop="author">
          {{ site.title | default: site.github.repository_name }}
        </a>
      </h1>
      <h2 class="post-title">
        <span itemprop="headline">{{ page.title }}</span>
        <small>/<span itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</span>/</small>
      </h2>
    </header>

    <main id="content" class="main-content" role="main" itemprop="articleBody">
      {{ content }}
    </main>
  </body>
</html>
